body {
    color: #3b3b3b;
    margin-bottom: 0;
    /*text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);*/
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #444;
    font-weight: normal;
    font-family: "Lato", Arial, sans-serif;
}
h1, .h1 {
    font-size: 30px;
}

h2, .h2 {
    font-size: 24px;
}

h3, .h3 {
    font-size: 18px;
}

h4, .h4 {
    font-size: 16px;
}

h5, .h5 {
    font-size: 14px;
}

h6, .h6 {
    font-size: 12px;
}

pre, code {
    border: none;
    border-radius: 0;
    /*background-color: #f9f9f9;*/
    font-size: 0.85em;
}

pre {
    font-size: 1em;
}

code {
    background-color: #F7F7F7;
    color: #c5430f;
}
b, strong {
    font-weight: 700;
}
#header {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}

#header a:hover {
    text-decoration: none;
}

#footer {
    margin: 20px 0;
    font-size: 0.85em;
    color: #999;
    text-align: center;
}

.page-content > h1 {
    display: none;
}
.main-content-area {
margin-bottom: 40px;
}
#navigation {
}
#navigation .well {
    background-color: #FFF;
    box-shadow: none;
}

#navigation .well > .nav > li {
    font-size: 16px;
    margin-bottom: 15px;
}

#navigation .well > .nav > li > ul {
    padding-top: 10px;
    border-top: 1px dashed #dfdfdf;
    margin-top: 5px;
}

#navigation a {
    outline: none;
}

#navigation .well > .nav > li > a {
    padding: 0px 15px 0 0;
}

#navigation > .well > ul > li > ul > li a {
    padding: 3px 15px 3px 0;
    font-size: 14px;
    line-height: 1.5;
}
#navigation .well > .nav > li:first-child > ul a {
    padding-left: 0;
}

#navigation .well > .nav > li > a.active,
#navigation .well > .nav > li > a:focus,
#navigation .well > .nav > li > a:hover,
#navigation > .well > ul > li > ul > li a.active,
#navigation > .well > ul > li > ul > li a:focus,
#navigation > .well > ul > li > ul > li a:hover {
    background-color: transparent;
    font-weight: 600;
    color: #ED561A;
}

#navigation .nav-header {
    padding-left: 0;
    padding-right: 0;
}

#navigation .nav > li > .nav li > .nav {
    margin-left: 15px;
}
#navigation a .fa-control {
    right: 0px;
    top: 8px;
    position: absolute;
}
#navigation a .fa-control::before {
    /*content: "\f150";*/
    content: "\f0d7";
}
#navigation a.active .fa-control::before {
    /*content: "\f151";*/
    content: "\f0d8";
}

#content h1:first-child {
    margin-top: 0;
}

body.rtl {
	direction: rtl;
}

body.rtl #header .brand {
	float: right;
    margin-left: 5px;
}
body.rtl .row-fluid [class*="span"] {
	float: right !important;
	margin-left: 0;
	margin-right: 2.564102564102564%;
}
body.rtl .row-fluid [class*="span"]:first-child {
	margin-right: 0;
}

body.rtl ul, body.rtl ol {
    margin: 0 25px 10px 0;
}

.alert-default {
background-color: #F7F7F7;
border-color: #F7F7F7;
}

/** TOC **/
div#toc ul li {
    margin: 8px 0px 8px 22px;
    font-size: 90%;
    list-style: square;
    }
div#toc ul {
    background-color: #F7F7F7;
    padding: 5px;
    border-radius: 5px;
    max-width: 300px;
    color: #9a9a9a;
    }

div#toc ul li ul {
    padding-left:8px;

}

div#toc ul li ul li::before {
    /*content: "–  ";*/
}

div#toc >ul::before {
    content: "Table of Contents";
    font-weight: 600;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    width:70px;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:10px;
}

.bs-callout {
padding: 20px;
margin: 20px 0;
border: 1px solid #eee;
border-left-width: 5px;
border-radius: 3px;
}
.bs-callout h4 {
margin-top: 0;
margin-bottom: 5px;
}
.bs-callout p:last-child {
margin-bottom: 0;
}
.bs-callout code {
border-radius: 3px;
}
.bs-callout+.bs-callout {
margin-top: -5px;
}
.bs-callout-default {
border-left-color: #777;
}
.bs-callout-default h4 {
color: #777;
}
.bs-callout-primary {
border-left-color: #428bca;
}
.bs-callout-primary h4 {
color: #428bca;
}
.bs-callout-success {
border-left-color: #5cb85c;
}
.bs-callout-success h4 {
color: #5cb85c;
}
.bs-callout-danger {
border-left-color: #d9534f;
}
.bs-callout-danger h4 {
color: #d9534f;
}
.bs-callout-warning {
border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
color: #f0ad4e;
}
.bs-callout-info {
border-left-color: #5bc0de;
}
.bs-callout-info h4 {
color: #5bc0de;
}