<ul class="nav {{ include.css_class }}">
    {% include navigation/main.htm %}
    <li>
        <span>Designer Guide</span>

        <ul class="nav {{ include.css_class }}" id="Designer-Guide">
            <li><a href="/tutorial/creating-a-custom-theme">Creating Your First Theme</a></li>
            <li><a href="/designer-guide/styles-and-javascript">Styles and Javascript</a></li>
            <li><a href="/designer-guide/layouts">Layout</a></li>
            <li><a href="/designer-guide/media-files">Media files</a></li>
        </ul>
    </li>
</ul>