<ul class="nav {{ include.css_class }}">
    {% include navigation/main.htm %}
    <li>
        <span>Developer Guide</span>

        <ul class="nav {{ include.css_class }}" id="Developer-Guide">
            <li><a href="/developer-guide/quick-start">Quick Start</a></li>
            <li><a href="/developer-guide/mvc-pattern">MVC Pattern</a></li>
            <li><a href="/developer-guide/application-flow-chart">Application Flow Chat</a></li>
            <li><a href="/developer-guide/coding-standard">Coding Standard</a></li>
            <li><a href="/developer-guide/debugging-tastyigniter">Debugging TastyIgniter</a></li>
            <li><a href="/developer-guide/loading-files">Loading files</a></li>
            <li><a href="/developer-guide/function-reference">Function Reference</a></li>
            <li><a href="/developer-guide/event-hooks">Event Hooks</a></li>
            <li><a href="/developer-guide/developing-an-extension">Developing an Extension</a></li>
            <li><a href="/developer-guide/publishing-an-extension">Publishing an Extension</a></li>
            <li><a href="/developer-guide/migrating-extensions">Migrating Extensions</a></li>
            <li><a href="/developer-guide/developing-new-menu-feeds">Developing new menu feeds</a></li>
            <li><a href="/developer-guide/testing-tastyigniter">Testing TastyIgniter</a></li>
        </ul>
    </li>
</ul>