<ul class="nav {{ include.css_class }}">
    {% include navigation/main.htm %}
    <li>
        <span class="tutorial">Tutorial</span>

        <ul class="nav {{ include.css_class }}" id="Tutorial">
            <li><a href="/tutorial/changing-site-language">Changing site language</a></li>
            <li><a href="/tutorial/modifying-core-files">Modifying core files</a></li>
            <li><a href="/tutorial/creating-a-custom-theme">Creating A Custom Theme</a></li>
            <li><a href="/tutorial/integrating-google-analytics">Integrating Google Analytics</a></li>
            <li><a href="/tutorial/securing-tastyigniter">Securing TastyIgniter</a></li>
            <li><a href="/tutorial/using-extensions">Using Extensions</a></li>
            <li><a href="/tutorial/enabling-maintenance-mode">Enabling Maintenance Mode</a></li>
            <li><a href="/tutorial/enabling-debug-mode">Enabling Debug Mode</a></li>
            <li><a href="/tutorial/build-a-single-store">Build a Single store</a></li>
            <li><a href="/tutorial/move-to-a-new-server">Move to a new server</a></li>
        </ul>
    </li>
</ul>
